<app-navbar></app-navbar>

<div class="container">

  <form class="row g-3">
    <div class="col-auto">
      <h1 class="titulo">Cole a sua <span class="__url">URL</span> para ser encurtada</h1>
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">URL</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Cole o link aqui">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-light mb-3">Encurtar URL</button>
    </div>
  </form>

</div>
