* {
  color: #F8F8F8;
}

form {
  padding: 0 10px 0 10px;
  width: 355px;
  margin: 0 auto;
  border-radius: 4px;
}

.title__primary{
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
/*   padding-left: 30px; */
}

.title-reg {
  width: 355px;
}

.input {
  background: #1E1C24 !important;
  border: 0.1px solid rgb(182 182 182 / 36%) !important;
}

label,input,.input {
  padding: 10px 30px;
}

.pass__icon {
  position: relative;
}

.login-btn {
  background: white;
  color: black;
  width: 335px;
  border-radius: 14px;
  margin-top: 20px;
}

.register__offer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 30%; */
}

.register__offer > a{
  align-self: flex-end;
  padding-right: 55px;
}




/* BRAKPOINTS */


/* BREAKPOINTS */
@media (max-width: 320px) {
  .title-reg{
    width: 295px;
    text-align: center;
  }

  .form {
    width: 295px !important;
  }
  label {
    padding: 6px 10px !important;
  }
  .mb-4 {
    margin-bottom: unset !important;
  }
  .signup-btn {
    width: auto !important;
  }
  .register__offer > p {
    align-self: flex-end !important;
  }
  .register__offer > a{
    padding-right: unset !important;
  }

}


@media (max-height: 640px) { }

@media (min-width: 576px) {  }

@media (min-width: 768px) {  }


@media (min-width: 992px) { }

@media (min-width: 1200px) {
  .title__primary {
    margin-top: 0%;
    margin-bottom: unset;
    padding-left: unset;
    text-align: center;
  }
  .title-reg {
    width: unset;
  }
  .register__offer {
    margin-top: unset;
  }
 }


@media (min-width: 1400px) {  }
