/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* You can add global styles to this file, and also import other style files */
* {
  overflow-x: hidden !important;
}
html, body {
  background-image: url("./assets/imgs/rectangle.png");
  background-color: #111;
  overflow-x: hidden !important;
}

p {
  margin-bottom: 0;
}

@media (min-width: 1200px) {

  * {
    overflow-x: hidden !important;
  }
}


.form-control:focus {
  color: #f8f8f8 !important;
  outline: 0;
  box-shadow: 0px 1px 1px #147ec1;
  transform: scale(1.02);
}
