<div class="yellow__wall"></div>

<img class="hero mobi" src="../../assets/imgs/logo_preta.png" alt="">
<img class="hero desk" src="../../assets/imgs/logo_amarelo.svg" alt="" style="display: none;">


<div class="wrapper-desk" style="display: none;">
  <h1 class="titulo">
    Aqui <span class="vctem">você tem</span> controle total sobre seus <span class="span__wrapper-desk">links</span> 🔗
  </h1>
  <p class="texto">Um encurtador de URL criado com ferramentas poderosas para ajudá-lo a crescer e proteger sua marca.</p>

  <div class="buttons__registraion-desk">
    <button type="button" class="btn btn-light" [routerLink]="['/signup']" >Cadastrar-se</button>
    <button type="button" class="btn btn-secondary"[routerLink]="['/login']">Entrar</button>
  </div>
</div>


<div class="hero astro">
  <img src="../../assets/imgs/space.svg" class="img-fluid" alt="Ilustração de um astronauto no espaço, proximo a lua e com algumas estrelas em sua volta.">
</div>

<div class="wrapper">
  <h1 class="title__body"><span class="title__body-span_left">Minix Off</span><span class="title__body-span">shortner</span></h1>
  <p>Um encurtador de URL criado com ferramentas poderosas para ajudá-lo a crescer e proteger sua marca.</p>
</div>


<div class="buttons__registraion">
  <button type="button" class="btn btn-light" [routerLink]="['/signup']" >Cadastrar-se</button>
  <button type="button" class="btn btn-secondary" [routerLink]="['/login']">Entrar</button>
</div>


